<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>车辆管理</title>
	<link rel="shortcut icon" href="images/icon/icon.ico" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
	<style type="text/css"></style> 
</head>
<body>
<header role="banner" >
    <include file='common:nav'/>
</header>

<main role="main">
        <div class="list-group" style="width: 13%;height:495px;position: relative;left:10%;border: 1px solid #878787;padding:8px;display: inline-block;vertical-align: top;">
            <a href="__ROOT__/index.php/Home/Car" style="text-decoration: none"><button type="button" class="list-group-item " style="margin-bottom: 15px">车辆管理</button></a>
            <a href="__ROOT__/index.php/Home/File" style="text-decoration: none"><button type="button" class="list-group-item active" style="margin-bottom: 15px">驾驶员管理</button></a>
        </div>
        <div style="width:68%;height: 495px;border: 1px solid #878787;display: inline-block;vertical-align: top;position: relative;left:11%;">
        <button  id="add-btn" type="button" class="btn btn-primary" style="margin:10px 100px">新增</button>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>姓名</th>
                <th>性别</th>
                <th>身份证</th>
                <th>电话</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <foreach name="list" item="vo">
                <tr>
                    <th scope="row">{$vo.id}</th>
                    <td>{$vo.name}</td>
                    <td>{$vo.sex}</td>
                    <td>{$vo.card}</td>
                    <td>{$vo.tell}</td>
                    <td>
                        <switch name="vo.type">
                                <case value="0">正常</case>
                                <case value="1">锁定</case>
                        </switch>
                    </td>
                    <td><a href="__ROOT__/index.php/Home/File/alert?id={$vo.id}">修改</a> | <a href="__ROOT__/index.php/Home/File/cloce?id={$vo.id}">改态</a> | <a href="__ROOT__/index.php/Home/File/del?id={$vo.id}">删除</a></td>
                  </tr>
            </foreach>
            </tbody>
          </table>
    </div><!-- /.table-responsive -->
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xl-6 list-group" style="border: 1px solid #878787;height:490px;padding:8px">
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>  
                </div>
                <div class="col-md-9 " style="border: 1px solid #878787;height:490px;margin-left: 20px;">
                    
                </div>
            </div>
        </div> -->
</main>

<footer>
	<ul class="foot">
		<li><a href="#">Copyright 2007-2108 xxx.com All rights Reserved 新宏昌车辆管理系统于信息管理部开发 如果系统bug请联系信息管理部相关人员</a></li>
	</ul>
</footer><!-- footer结束 -->
	
</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script  src="__PUBLIC__/js/layer.js"></script>
<script >
;!function(){

//加载扩展模块
layer.config({
    extend: 'extend/layer.ext.js'
});

//页面一打开就执行，放入ready是为了layer所需配件（css、扩展模块）加载完毕
$('#add-btn').click(function(){ 
    //官网欢迎页
    layer.open({
        type: 2,
        //skin: 'layui-layer-lan',
        title: '新增用户',
        fix: false,
        shadeClose: true,
        maxmin: true,
        area: ['60%', '80%'],
        content: '__ROOT__/index.php/Home/File/add.html',
        });
    
});


}();
</script>
</html>