<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单中心</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/order.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/application.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.raty.min.js"></script>
</head>
<body>
<div id="content">
	<div id="top">
		<div id="top_1">
			<span><img src="__PUBLIC__/images/apply/u0.png"></span>
			<span><a style="text-decoration: none;font-size: 22px" href="__ROOT__">返回申请</a></span>
			<div id="top_1-1">
				<a href="__ROOT__"><span>首页</span></a>
			</div>
		</div>
	</div>
	<div id="main">

		<!-- <div id="main-1" class="main">订单中心</div> -->

		<div id="main-2" class="main">
			<ul>
				<li><span style="width: 150px">近一个月订单</span></li>
				<li><span style="width: 400px">订单详情</span></li>
				<li><span style="width: 350px">状态</span></li>
				<li><span style="width: 150px">操作</span></li>
			</ul>
		</div>

		<div style="clear: both"></div>
		<foreach name='list' item='vo'>
			<div id="main-3" class="main">
				<ul id="u1">
					<li><span style="width: 530px;">订单号：{$vo.uid}</span></li>
					<li style="margin-left: 520px;">
						<switch name="vo.state">
                            <case value="0" >
                            <li><span style="width: 350px;text-align: center;color: blue">等待审批</span></li></case>
                            <case value="1" >
                            <li><span style="width: 350px;text-align: center;color: red">不通过</span></li></case>
                            </case>
                            <case value="2" >
                            <li><span style="width: 350px;text-align: center;color: blue">审核通过</span></li></case>
                            </case>
                            <case value="3" >
                            <li><span style="width: 350px;text-align: center;color: blue">以完成</span></li></case>
                            </case>
                            <case value="4" >
                            <li><span style="width: 350px;text-align: center;color: blue">正在进行</span></li></case>
                            </case>
                            <case value="5" >
                            <li><span style="width: 350px;text-align: center;color: red">未评价</span></li></case>
                            </case>
                            <case value="6" >
                            <li><span style="width: 350px;text-align: center;color: blue">拼车订单待审核</span></li></case>
                            </case>
                            <case value="7" >
                            <li><span style="width: 350px;text-align: center;color: blue">拼车通过</span></li></case>
                            </case>
                     </switch>
					</li>
								
				</ul>
				<ul id="u2">
				<if condition="$section eq $vo['psection']">
					<li style="width:192px;font-size: 16px;"><p style="text-align: center;margin-top:10px">{$vo.pnote}</p><p style="text-align: center;margin-top: 5px">共{$vo.pnum}人</p>
					<li style="width:350px;"><p>地点：
							<switch name="vo.padrid">
	                            <case value="0" >三河</case>
	                            <case value="1" >燕郊</case>
	                            <case value="2" >北京</case>
	                            <case value="3" >廊坊</case>
	                            <case value="4" >石家庄</case>
	                            <case value="5" >秦皇岛</case>
	                            <case value="6" >其他</case>
	                     	</switch>{$vo.padress}
						</p>
						<p>出发时间：{$vo.start_time|date="m-d H:i",###} 返回：{$vo.preturn_time|date="m-d H:i",###}</p>
						<p>申请理由：{$vo.preason}</p>
				<else/>
					<li style="width:192px;font-size: 16px;"><p style="text-align: center;margin-top:10px">{$vo.note}</p><p style="text-align: center;margin-top: 5px">共{$vo.num}人</p>
					<li style="width:350px;"><p>地点：
							<switch name="vo.adrid">
	                            <case value="0" >三河</case>
	                            <case value="1" >燕郊</case>
	                            <case value="2" >北京</case>
	                            <case value="3" >廊坊</case>
	                            <case value="4" >石家庄</case>
	                            <case value="5" >秦皇岛</case>
	                            <case value="6" >其他</case>
	                     	</switch>{$vo.adress}
						</p>
						<p>出发时间：{$vo.start_time|date="m-d H:i",###} 返回：{$vo.return_time|date="m-d H:i",###}</p>
						<p>申请理由：{$vo.reason}</p>
				</if>
					<switch name="vo.state">
                            <case value="0" >
	                       		<li style="width:350px;">
									<p style="color: red">如有紧急派车，请电话联系管理员</p>
								
								<li style="width:150px;">
									 <a href="{:U(close)}?uid={$vo.uid}" style="margin: 58PX;">关闭</a> 
								</li> 
							</case>
                            <case value="1" >
	                            <li style="width:350px;">
		                            <p style="color: red">关闭理由：{$vo.close_reason}</p>    
	                          
								<li style="width:150px;">
	
								<!-- </li> -->
                            </case>
                            <case value="2" >
								<li style="width:350px;">
									<p style="color: red">如有变动，请直接联系管理员或司机</p>
									<p>车辆：{$vo.car}|{$vo.chepai}</p>
									<p>司机：{$vo.driver}电话：{$vo.driver_tell}</p>
								
								<li style="width:150px;">
									
								<!-- </li> -->
                            </case>
                            <case value="3" >
								<li style="width:350px;">
									<if condition="$vo.carpooling eq 0">
                               			<p>拼车单</p>
                               		<if>
									<p>开始时间 | 开始里程：{$vo.shenhe|date="m-d H:i",###} | {$vo.menweili}</p>
									<p>返回时间 | 返回里程：{$vo.complete|date="m-d H:i",###} | {$vo.swancheng}</p>
								
								<li style="width:150px;">
									<div id='{$vo.uid}' data-score="1" style="margin:25px;"></div>
								   	<script type="text/javascript">
								   			$(function(){

								   				$('#{$vo.uid}').raty(
								   					{ 
								   						path: "__PUBLIC__/images/img/",
								   						readOnly: true, score: "{$vo.evaluate}" }
								   					    
								   					);
								   			});
								   	</script>
								<!-- </li> -->
                            </case>
                            <case value="4" >
								<li style="width:350px;">
									<p>开始时间 | 开始里程：{$vo.shenhe|date="m-d H:i",###} | {$vo.menweili}
								
								<li style="width:150px;">
									
								<!-- </li> -->
                            </case>
                            <case value="5" >
                               <li style="width:350px;">
                               		<if condition="$vo.carpooling eq 0">
                               			<p>拼车单</p>
                               		<if>
									<p>开始时间 | 开始里程：{$vo.shenhe|date="m-d H:i",###} | {$vo.menweili}</p>
									<p>返回时间 | 返回里程：{$vo.complete|date="m-d H:i",###} | {$vo.swancheng}</p>
                               
							   <li style="width:150px;">
								   	<div id='{$vo.uid}' data-score="1" style="margin:25px;"></div>
								   	<script type="text/javascript">
								   			$(function(){
								   				var  jj = "{$vo.uid}";
								   				$('#{$vo.uid}').raty(
								   					{ 
								   						path: "__PUBLIC__/images/img/",
								   						click: function(score, evt){
								   							$.post("__ROOT__/index.php/Home/order/add", {sc:score,uid:jj},  function(){
								   									location.href = '__ROOT__/index.php/Home/order/';
								   							});
								   						}
								   					    
								   					});
								   			});
								   	</script>
							   <!-- </li> -->
                            </case>
                            <case value="6" >
	                           <li style="width:350px;">
		                          <p style="color: red">如有紧急派车，请电话联系管理员</p>
	                           
							   <li style="width:150px;">
								<a href="#">修改</a> | <a href="#">关闭</a>
							   <!-- </li> -->
	                         </case>
                            <case value="7" >
	                           <li style="width:350px;">
			                            <p style="color: red">如有变动，请直接联系管理员或司机</p>
			                            <p>车辆：{$vo.car} | {$vo.chepai}</p>
			                            <p>司机：{$vo.driver} 电话：{$vo.driver_tell}</p>   
	                          
							   <li style="width:150px;">
									
							   <!-- </li> -->
                            </case>      
                     </switch>			
				</ul>
			</div>
		</foreach>
		<div id="pagelist">
			{$page}
		</div>
	</div>
</div>

</body>

</html>