<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>开发信息123</title>
	<link rel="shortcut icon" href="images/icon/icon.ico" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
	<style type="text/css"></style>
</head>
<body>
<header role="banner" >
    <include file='common:nav'/>
</header>
<main role="main">
        <div class="list-group" style="width: 13%;height:495px;position: relative;left:10%;border: 1px solid #878787;padding:8px;display: inline-block;vertical-align: top;">
            <a href="{:U('dever')}" style="text-decoration: none"><button type="button" class="list-group-item active" style="margin-bottom: 15px">开发信息</button></a>
            <a href="{:U('info')}" style="text-decoration: none"><button type="button" class="list-group-item" style="margin-bottom: 15px">信息反馈</button></a>
            <a href="{:U('pro')}" style="text-decoration: none"><button type="button" class="list-group-item" style="margin-bottom: 15px">常见问题</button></a>
        </div>
        <div style="width:68%;height: 495px;border: 1px solid #878787;display: inline-block;vertical-align: top;position: relative;left:11%;">
            <div class="jumbotron">
              <h1>开发信息</h1>
                <p>系统作者：新宏昌重工集团-信息管理部-开发组</p>
                <p>制作时间：2016年2月</p>  
                <p>新宏昌重工集团是一家集专用车生产、销售、服务于一体的规模化、现代化的大型企业。集团现下属三个大型专用车生产基地，一家融资租赁公司。分别在北京、三河、石家庄、扬州等地，总部位于京东燕郊。</p>
                <p>联系电话：0316-3087600</p>
                <p>集团官网：www.hctm.com.cn</p>
                <p>联系地址：北京东燕郊经济技术开发区留山大街11号</p>   
            </div>
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xl-6 list-group" style="border: 1px solid #878787;height:490px;padding:8px">
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>
                    <button type="button" class="list-group-item" style="margin-bottom: 15px">组织管理</button>  
                </div>
                <div class="col-md-9 " style="border: 1px solid #878787;height:490px;margin-left: 20px;">
                    
                </div>
            </div>
        </div> -->
</main>

<footer>
	<ul class="foot">
		<li><a href="#">Copyright 2007-2108 xxx.com All rights Reserved 新宏昌车辆管理系统于信息管理部开发 如果系统bug请联系信息管理部相关人员</a></li>
	</ul>
</footer><!-- footer结束 -->
	
</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</html>