<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>处理订单</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
	<style type="text/css">
		dt
		{
			border-bottom: 1px #e4e4e4 solid;
			border-top: 1px #e4e4e4 solid;
			margin: 10px 0;
			padding: 5px 0;
		}
		dd
		{
			margin-left: 10px;
		}
	</style>
</head>
<body>
	<if condition="$ind.state eq 0">
	  <include file='handle:0'/>
	</if>
	<if condition="$ind.state eq 1">
	  <include file='handle:1'/>
	</if>
	<if condition="$ind.state eq 2">
	  <include file='handle:2'/>
	</if>
	<if condition="$ind.state eq 3">
	  <include file='handle:3'/>
	</if>
	<if condition="$ind.state eq 4">
	  <include file='handle:4'/>
	</if>
	<if condition="$ind.state eq 5">
	  <include file='handle:5'/>
	</if>
	<if condition="$ind.state eq 6">
	  <include file='handle:6'/>
	</if>
</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>

</html>