<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单展示</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<div class="top">
	<div class="top-1">
		<span class="top-left"><img src="__PUBLIC__/images/apply/u0.png"></span>
		<span class="top-left">订单中心</span>
		<div class="top-right" id="top_1-1">
			<span style="margin-right: 30px;">信息管理部</span>
		</div>
	</div>
</div>
<div class="main">
	<div class="main-1">
		<ul>
			<li class="jjff"><span style="width: 150px">车辆信息</span></li>
			<li class="jjff"><span style="width: 100px">操作</span></li>
			<li><span style="width: 250px">{$time[0] |date="m-d",###}</span></li>
			<li><span style="width: 250px">{$time[1] |date="m-d",###}</span></li>
			<li><span style="width: 250px">{$time[2] |date="m-d",###}</span></li>
			
		</ul>
	</div>
	<foreach name='li' item='vo'>
	<foreach name='vo' item='vo1'>
	<div class="main-total">
		
				
					<!-- {*车辆栏*} -->
					<div class="total-1">
						<ul>
							<li class="jkhkl">{$key}</li>
						</ul>
					</div>
					<div class="total-3 center">
						<ul >
							<li><span id="center" ><a href="{:U('Index/pinche')}?car={$key}">拼车</a></span></li>
						</ul>
					</div>
					<!-- {*遍历生成主文件*} -->
						<foreach name='vo1' item='vo11'>
							<div class="total-2">	
								<ul style="display: block;">
									<volist name="vo11" id="voa">	
										<if condition="count($voa) gt '4' ">
											<if condition="(int)$voa.carpooling eq '0'">
												<li style="border-bottom: 1px #e4e4e4 solid; width:310px;height: 50px;">

													<span>部门:{$voa.section}</span>
													<span>目的地：
														<switch name="voa.adrid">
									                            <case value="0" >三河</case>
									                            <case value="1" >燕郊</case>
									                            <case value="2" >北京</case>
									                            <case value="3" >廊坊</case>
									                            <case value="4" >石家庄</case>
									                            <case value="5" >秦皇岛</case>
									                            <case value="6" >其他</case>
									                     </switch>	
													</span>
													<span>出发时间：{$voa.start_time|date="d h:i",###}</span>
													<span>预计返回：{$voa.return_time|date="d h:i",###}</span>
													<span style="color: block">剩余:无座位</span>
												</li>	
											<else/>
												<li style="border-bottom: 1px #e4e4e4 solid; width:310px;height: 50px;">
													<span>部门:{$voa.section}</span>
														<span>目的地：
															<switch name="voa.adrid">
										                            <case value="0" >三河</case>
										                            <case value="1" >燕郊</case>
										                            <case value="2" >北京</case>
										                            <case value="3" >廊坊</case>
										                            <case value="4" >石家庄</case>
										                            <case value="5" >秦皇岛</case>
										                            <case value="6" >其他</case>
										                     </switch>	
														</span>
													<span>出发时间：{$voa.start_time|date="d h:i",###}</span>
													<span>预计返回：{$voa.return_time|date="d h:i",###}</span>
													<span style="color: red">剩余:{$voa.residue}座位</span>
												</li>
											</if>		
										</if>	
									</volist>
								</ul>
								<if condition="count($voa) gt '3'">
									<ul style="display: block;">
										<span>参考预计返回时间进行申请</span> 
									</ul>
								<else/>
									<ul style="display: block;">
										<span>还没有订单，可以申请</span> 
									</ul>
								</if>
							</div>
						</foreach>
					
		
					<!-- {*操作栏*} -->
					

				
				
			
			

		
		<div style="clear: both"></div>
		</div>
		</foreach>
	</foreach>
	<div class="footer">
		<p>Copyright 2007-2108 xxx.com All rights Reserved 新宏昌车辆管理系统于信息管理部开发 如果系统bug请联系信息管理部相关人员</p>
	</div>
</div>
</body>
</html>